/*
    CSS Global
*/


/*Tamaño de tablero predeterminado*/

:root {
    --boardX: 10;
    --boardY: 10;
}


/* Definicion de fuente global*/

@font-face {
    font-family: 'stencil';
    src: url(../fonts/stencil.ttf);
}


/* Overlay de menu*/

#overlay {
    position: absolute;
    /* Sit on top of the page content */
    display: none;
    /* Hidden by default */
    min-width: 1000px;
    max-width: 1000px;
    min-height: 1000px;
    max-height: 1000px;
    margin: auto;
    background-image: url(../img/bckgrnd/bckMain.webp);
    background-size: 100%;
    z-index: 3;
    /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer;
    /* Add a pointer on hover */
}


/*Limitacion de tamaño*/

body {
    /*background: fuchsia;*/
    min-width: 1000px;
    max-width: 1000px;
    min-height: 1000px;
    max-height: 1000px;
    margin: auto;
    background-image: url(../img/bckgrnd/bckMain.webp);
    background-size: 100%;
    font-family: 'stencil';
}


/* principal*/

.wrapper {
    margin: 0 auto;
    display: grid;
    max-width: 1000px;
    max-height: 800px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 800px;
}


/*
    CSS Del Bloque Titulo
    */


/* bloque del titulo*/

.title {
    position: relative;
    margin: 15px 0px;
    border-radius: 25px;
    background-image: url(../img/bckgrnd/bckTitle.webp);
    background-size: 98% 454%;
    background-position-x: 40%;
    background-position-y: 50%;
}


/*Texto del titulo*/

.titleText {
    min-height: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}


/*
    CSS Del Menu IZQ
    */


/*Menu Izq*/

.menuLeft {
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 3fr;
    row-gap: 10px;
}


/* Bloque Tiempo*/

.menuTimer {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    background-image: url(../img/bckgrnd/bckTimer.webp);
    background-size: 100%;
}


/*Titulo de Tiempo*/

.menuTimerTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Texto de Tiempo*/

.currentTime {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Bloque Powers*/

.mnPowers {
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 0.5fr;
    background-image: url(../img/bckgrnd/bckMuseum.webp);
    background-size: 158% 110%;
    background-position-x: 47%;
    background-position-y: 25%;
}


/*Titulo Powers*/

.mnPowers-title {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Powers*/

.mnPowers-item {
    background: rgb(143, 143, 143);
    border-radius: 15px;
    position: relative;
    height: 90%;
    width: 80%;
    justify-self: center;
    align-self: center;
    cursor: pointer;
}


/*Contador de los powers*/

.powerCounter {
    z-index: 2;
    position: absolute;
    bottom: 15px;
    right: 5px;
    width: 15px;
    text-align: center;
    background-color: rgba(0, 225, 255, 0.507);
    border-radius: 15px;
}


/*Bloque Puntuacion General*/

.menuScore {
    background: cornflowerblue;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    background-image: url(../img/bckgrnd/bckScore.webp);
    background-size: 325% 118%;
    background-position-x: 47%;
    background-position-y: 50%;
}


/*Bloque Puntuacion*/

.mnScorePoints {
    /*background: darkcyan;*/
    border-radius: 15px;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}


/*Bloque Objetos Encontrados*/

.mnScoreItems {
    /*background: darkcyan;*/
    border-radius: 15px;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}


/*Bloque Total Objetos*/

.mnScoreTotal {
    /*background: darkcyan;
    border-radius: 15px;*/
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    align-items: center;
}


/*Titulos Puntuacion*/

.mnScoreTitle {
    text-align: center;
}


/*Texto Puntuaciones*/

.mnScoreValue {
    text-align: center;
}


/*
    CSS Menu DCH
    */


/*Menu Dch*/

.menuRight {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr 1fr;
    row-gap: 10px;
}


/*Bloque Items*/

.mnObjetos {
    display: grid;
    grid-template-rows: 2fr 10fr 1fr;
    border-radius: 15px;
    background-image: url(../img/bckgrnd/bckItems.webp);
    background-size: 399% 104%;
    background-position-x: 49%;
    background-position-y: 68%;
}

.gridObjetos {
    display: grid;
    grid-gap: 5px;
}


/*Titulo Items*/

.mnObjetos-title {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Grid de Item*/

.mnObjetos-item {
    display: grid;
}

.mnObjetos-img {
    justify-self: center;
    align-self: center;
    z-index: 1;
    width: 40%;
}


/*bloque Audio*/

.mnAudio {
    display: flex;
    background-image: url(../img/bckgrnd/bckMuseum.webp);
    background-size: 234% 135%;
    background-position-x: 45%;
    background-position-y: 25%;
    border-radius: 15px;
    justify-content: space-evenly;
}

.mnAudioImg {
    align-self: center;
    max-width: 80%;
    max-height: 80%;
    cursor: pointer;
}


/*Bloque Museo*/

.menuLevel {
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    justify-items: center;
    align-items: center;
    row-gap: 2px;
    background-image: url(../img/bckgrnd/bckMuseum.webp);
    background-size: 234% 135%;
    background-position-x: 49%;
    background-position-y: 17%;
}

.mnLevel {
    display: grid;
    grid-template-columns: 1fr;
    height: 90%;
    width: 90%;
    grid-row-gap: 5px;
}

.mnLevelItem {
    background: rgba(192, 192, 192, 0.151);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mnLevelItem.current {
    background: rgba(248, 232, 0, 0.712);
}


/*Titulo museo*/

.menuLevelTitle {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Items Museo*/

.menuMuseumItem {}


/*
    CSS Bloque Central
    */


/* Bloque Central*/

.mainBlock {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    justify-items: center;
    align-items: center;
}


/* Grid Tablero*/

.board {
    display: grid;
    grid-template-columns: repeat(var(--boardX), 1fr);
    grid-template-rows: repeat(var(--boardY), 1fr);
    width: 95%;
    height: 95%;
}


/*Tile*/

.tile {
    background-size: 100%;
    border-radius: 5px;
    margin: 1px;
    transition: ease-in-out, 0.2s;
    display: grid;
    align-items: center;
    justify-items: center;
}

.undigged {
    background-image: url(../img/bckgrnd/tex_tile_1.webp);
    cursor: cell;
}

.digged {
    background-image: url(../img/bckgrnd/tex_tile_2.webp);
}

.undigged:hover {
    transform: rotate(180deg) scale(1.1);
}

.itemImg {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 85%;
}

.itemImg.rot-0 {
    transform: rotate(0);
}

.itemImg.rot-1 {
    transform: rotate(90deg);
}

.itemImg.rot-2 {
    transform: rotate(-90deg);
}

.itemImg.rot-3 {
    transform: rotate(+180deg);
}

.itemImg-trans {
    max-width: 80%;
    max-height: auto;
    opacity: 0.25;
}


/*
        Clases de la barra de energia.
    */


/* Gas Restante*/

.playerEnergy {
    /*background: rgb(33, 121, 252); */
    border-radius: 25px;
    display: grid;
    width: 90%;
    height: 90%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    justify-items: center;
    align-items: center;
    row-gap: 2px;
    background-image: url(../img/bckgrnd/bckEnergy.webp);
    background-size: 117% 478%;
    background-position-x: 46%;
    background-position-y: 50%;
}

.plyrNrgTitle {
    /*background: rgb(252, 33, 234);*/
    width: 90%;
    height: 90%;
    text-align: center;
}

.plyrNrgBarBlock {
    width: 90%;
    height: 80%;
}

.nrgBarBackground {
    padding: 6px;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    height: 90%;
}

.nrg-bar {
    height: 99%;
    border-radius: 25px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}

.nrg-moved .nrg-bar {
    width: 0%;
    background-color: hsl(0, 80%, 50%);
    transition: all .5s ease-in-out;
}